
<a class="mdl-navigation__link" href="@Url.Action("Index", "Questions",new { Area = "AdminPanel" })">
    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">pan_tool</i>
    Sorular
</a>
<a class="mdl-navigation__link" href="@Url.Action("Index", "Application",new { Area = "AdminPanel" })">
    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">pan_tool</i>
    Başvurular
</a>
