@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()


        <a class="mdl-navigation__link" href="javascript:document.getElementById('logoutForm').submit()" id="registerLink"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">local_offer</i>Çıkış Yap</a>

    }
}
else
{
    @*<ul class="nav navbar-nav navbar-right">*@
    <a class="mdl-navigation__link" href="@Url.Action("Register", "Account")" id="registerLink"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>Kayıt Ol</a>
    <a class="mdl-navigation__link" href="@Url.Action("Login", "Account")" id="loginLink"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>Giriş Yap</a>
    @*</ul>*@
}
